* {
  text-align: center;
}

h1 {
  background-color: black;
  color: antiquewhite;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.summary {
  border: 1px solid wheat;
  padding: 10px 20px;
  margin: 2px;
}

img {
  width: 20%;
  height: 20%;
  border: 2px solid white;
  padding-top: 5px;
  margin: auto;
}
